src/main/webapp/resources/xsl/LawEdit.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:attributeGroup name="joAtt">
    <xsd:attribute name="contno" use="required" type="xsd:int" />
    <xsd:attribute name="contsubno" use="required" type="xsd:string" />
    <xsd:attribute name="title" use="required" type="xsd:string" />
    <xsd:attribute name="startcha" use="required" type="xsd:int" />
    <xsd:attribute name="endcha" use="required" type="xsd:int" />
    <xsd:attribute name="contid" use="required" type="xsd:string" />
    <xsd:attribute name="bcontid" use="required" type="xsd:string" />
    <xsd:attribute name="createstate" use="optional" type="xsd:string" />
    <xsd:attribute name="curstate" use="optional" type="xsd:string" />
    <xsd:attribute name="f_contno" use="optional" type="xsd:int" />
    <xsd:attribute name=" f_contsubno" use="optional" type="xsd:string" />
    <xsd:attribute name="f_title" use="optional" type="xsd:string" />
    <xsd:attribute name="revisiontag" use="optional" type="xsd:string" />
    <xsd:attribute name="singugbn" use="optional" type="xsd:string" />
    <xsd:attribute name="startdt" use="optional" type="xsd:string" />
    <xsd:attribute name="enddt" use="optional" type="xsd:string" />
    <xsd:attribute name="showtag" use="optional" type="xsd:string" />
  </xsd:attributeGroup>

  <xsd:attributeGroup name="hangAtt">
    <xsd:attribute name="contno" use="required" type="xsd:int" />
    <xsd:attribute name="contsubno" use="optional" type="xsd:string" />
    <xsd:attribute name="f_contno" use="optional" type="xsd:int" />
    <xsd:attribute name=" f_contsubno" use="optional" type="xsd:string" />
  </xsd:attributeGroup>


  <xsd:element name="law" type="lawType" />
  <xsd:element name="jo" type="joType"/>
  
  <xsd:complexType name="lawType">
    <xsd:sequence>
      <xsd:element name="jo" type="joType" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="joType">
    <xsd:sequence>
      <xsd:element name="cont" type="contType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="hang" type="hangType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="ho" type="hoType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="mok" type="mokType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="dan" type="danType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="joAtt" />
  </xsd:complexType>
  
  <xsd:complexType name="hangType">
    <xsd:sequence>
      <xsd:element name="cont" type="contType" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="ho" type="hoType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="mok" type="mokType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="dan" type="danType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="hangAtt" />
  </xsd:complexType>
  
  <xsd:complexType name="hoType">
    <xsd:sequence>
      <xsd:element name="cont" type="contType" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="mok" type="mokType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="dan" type="danType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="hangAtt" />
  </xsd:complexType>
  <xsd:complexType name="mokType">
    <xsd:sequence>
      <xsd:element name="cont" type="contType" minOccurs="1" maxOccurs="unbounded" />
      <xsd:element name="dan" type="danType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="hangAtt" />
  </xsd:complexType>
  
  <xsd:complexType name="danType">
    <xsd:sequence>
      <xsd:element name="cont" type="contType" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="hangAtt" />
  </xsd:complexType>

  <xsd:complexType mixed="true" name="contType">
    <xsd:sequence>
      <xsd:element name="image" type="imageType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="IMG" type="imageType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="a5b5" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="tag" use="optional" type="xsd:string" />
    <xsd:attribute name="showtag" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="imageType">
    <xsd:attribute name="alt" use="optional" type="xsd:string" />
    <xsd:attribute name="height" type="xsd:string" />
    <xsd:attribute name="src" type="xsd:string" />
    <xsd:attribute name="hspace" type="xsd:string" />
    <xsd:attribute name="width" type="xsd:string" />
    <xsd:attribute name="align" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>